# ===================================================================
# Общие правила для любых проектов
# ===================================================================

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кэш и временные файлы операционной системы
.DS_Store
Thumbs.db

# Файлы IDE (Visual Studio Code, JetBrains, etc.)
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/

# ===================================================================
# Специфично для Node.js / npm
# ===================================================================

# Главная папка с зависимостями. Ее никогда не нужно коммитить.
# Каждый, кто скачает проект, должен установить их сам командой `npm install`.
node_modules/

# Файлы, генерируемые npm
package-lock.json
npm-shrinkwrap.json

# Файлы переменных окружения. Содержат секреты и должны быть уникальны для каждой машины.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ===================================================================
# Специфично для нашего проекта axleLLM
# ===================================================================

# Папка с базой данных. Она генерируется локально у каждого пользователя
# при запуске `npm run seed` и в процессе работы.
# Нельзя коммитить данные пользователей!
/packages/example-app/axle-db-data/


/packages/example-app/public/

# Временные файлы тестов (если появятся)
/tests/_temp/
/tests/_runner.js

/packages/example-app/.axle-build/
/packages/example-app/.axle-build-client/


# Папки для скомпилированных и упакованных приложений.
# Мы коммитим только исходный код, а не результат сборки.
dist/
release/
build/
*.exe
*.dmg
*.AppImage